target
target/*
conf.d/includes/resolvers.conf
*.iml
.DS_STORE
lua_modules

# Webstorm files
.idea

# No temporary vim files
*~
*.swp
*.swo

# Concourse
secrets.yml

# npm
npm-debug.log

# Gradle
build
/.gradle

# Some places where secrets are kept...
docker-local.json
*.pem
/tls
